* {
  box-sizing: border-box;
}

body {
  background-color: #f0f8ff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 34px;
  margin: 2px;
  padding: 0;
  text-align: center;
}

.square.highlight {
  background-color: lightgreen;
}

.board-row:after {
  clear: both;
  content: '';
  display: table
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  /* margin-left: 20px; */
  margin-top: 20px;
}

button {
  margin: 5px;
}